body {
    background: #EEE;
    padding: 8% 0 0;
    margin: auto;
    color: #FFF;
}

img {
    width: 80%;
    height: auto;
}

.form {
    position: relative;
    background: #333;
    max-width: 360px;
    margin: 0 auto 20%;
    padding: 5%;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: sans-serif;
    color: #F44;
    font-weight: bold;
    background: #FFF;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: sans-serif;
    background: #F44;
    font-weight: bold;
    width: 50%;
    border: 0;
    padding: 15px;
    color: #FFF;
    font-size: 16px;
}
